In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
dataset = pd.read_csv(r"E:\ML\handle_categorical.csv")
print(dataset.head(3))

   EmployeeID     FullName Department     Role   Salary  \
0           1     Ali Khan        NaN      NaN      NaN
1           2   Sara Ahmed        NaN      NaN      NaN
2           3  Hassan Raza        NaN  Manager  90000.0

                     Email         Phone    Address    HireDate  Status
0     ali.khan@company.com  032-43163773        NaN  2020-01-31     NaN
1   sara.ahmed@company.com  030-41146082        NaN  2020-02-29     NaN
2  hassan.raza@company.com  030-31739356  Islamabad  2020-03-31  Active

In [45]:
dataset.isnull().sum()

EmployeeID    0
FullName      0
Department    0
Role          0
Salary        8
Email         0
Phone         0
Address       0
HireDate      0
Status        0
dtype: int64

In [17]:
# dataset.fillna(110) wrong way to fill the missing data

In [21]:
dataset.fillna(method="bfill")

C:\Users\Dell\AppData\Local\Temp\ipykernel_11324\193979722.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataset.fillna(method="bfill")

,EmployeeID,FullName,Department,Role,Salary,Email,Phone,Address,HireDate,Status
0,1,Ali Khan,IT,Manager,90000.0,ali.khan@company.com,032-43163773,Islamabad,2020-01-31,Active
1,2,Sara Ahmed,IT,Manager,90000.0,sara.ahmed@company.com,030-41146082,Islamabad,2020-02-29,Active
2,3,Hassan Raza,IT,Manager,90000.0,hassan.raza@company.com,030-31739356,Islamabad,2020-03-31,Active
3,4,Fatima Noor,IT,Executive,90000.0,fatima.noor@company.com,031-29576703,Peshawar,2020-04-30,Resigned
4,5,Usman Tariq,HR,Manager,70000.0,usman.tariq@company.com,031-82429249,Peshawar,2020-05-31,Resigned
5,6,Ayesha Saeed,Marketing,Intern,50000.0,ayesha.saeed@company.com,032-33705256,Karachi,2020-06-30,On Leave
6,7,Bilal Zafar,Marketing,Intern,50000.0,bilal.zafar@company.com,033-87633091,Karachi,2020-07-31,On Leave
7,8,Hina Sheikh,IT,Manager,70000.0,hina.sheikh@company.com,030-65403796,Karachi,2020-08-31,Active
8,9,Omar Farooq,Operations,Executive,70000.0,omar.farooq@company.com,033-33508102,Islamabad,2020-09-30,Resigned
9,10,Zara Iqbal,Operations,Executive,70000.0,zara.iqbal@company.com,032-15853584,Islamabad,2020-10-31,Resigned
10,11,Imran Malik,IT,Executive,80000.0,imran.malik@company.com,030-58491183,Islamabad,2020-11-30,On Leave
11,12,Nida Javed,Marketing,Assistant,50000.0,nida.javed@company.com,033-47856186,Islamabad,2020-12-31,On Leave
12,13,Adnan Hussain,Marketing,Intern,50000.0,adnan.hussain@company.com,032-58673237,Islamabad,2021-01-31,Resigned
13,14,Mehwish Shah,IT,Executive,80000.0,mehwish.shah@company.com,034-87275698,Karachi,2021-02-28,On Leave
14,15,Farhan Ali,Marketing,Manager,70000.0,farhan.ali@company.com,032-68245345,Karachi,2021-03-31,On Leave
15,16,Sana Yousaf,Finance,Intern,80000.0,sana.yousaf@company.com,034-21326237,Islamabad,2021-04-30,On Leave
16,17,Rizwan Qureshi,Finance,Intern,80000.0,rizwan.qureshi@company.com,030-71864219,Islamabad,2021-05-31,On Leave
17,18,Mahnoor Asif,IT,Executive,80000.0,mahnoor.asif@company.com,030-43255876,NaN,2021-06-30,Resigned
18,19,Zeeshan Latif,IT,Executive,80000.0,zeeshan.latif@company.com,033-25900476,NaN,2021-07-31,Resigned
19,20,Rabia Anwar,Marketing,Manager,NaN,rabia.anwar@company.com,032-50820227,NaN,2021-08-31,On Leave

In [23]:
dataset["Role"].mode()[0]

'Executive'

In [30]:
dataset["Role"].fillna(dataset["Role"].mode()[0],inplace=True)

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  20 non-null     int64
 1   FullName    20 non-null     object
 2   Department  13 non-null     object
 3   Role        20 non-null     object
 4   Salary      12 non-null     float64
 5   Email       20 non-null     object
 6   Phone       20 non-null     object
 7   Address     8 non-null      object
 8   HireDate    20 non-null     object
 9   Status      12 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.7+ KB

In [44]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0],inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_11324\2462503237.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0],inplace=True)